body{
	background-color: gray;
}

div.contenedor{

	background-color: white;
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	margin: 0 auto;
}

div.menu nav ul li a:focus,
div.menu nav ul li a:visited,
div.menu nav ul li a:active{
	color: black;
}

div.menu nav ul li a:hover{
	background-color: orange;

}

div.menu nav ul li a {

	text-decoration: none;
}

nav.menu-bar{
	background-color: red;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	float: right;
	text-align: right;
	display: block;

}

nav.menu-bar ul{

	list-style: none;
}

nav.menu-bar ul li{

	display: inline;
}


nav.menu-bar ul li a{
	color: white;
}